/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Jul, 2014, 11:15:51 AM
    Author     : paresh
*/

.rtp-header-wrapper{
    background-color: $yellow-cream - 5;
    
        a{
            background-color: $yellow-cream - 5 !important;
        }
        
    
}

